# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Keys and certificates
*.pem

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Miscellaneous
*.bak
*.tmp
